.container {
  display: flex;
  flex-wrap: wrap;
  width: 1280px;
  padding: 55px 0 216px;
  height: min-content;
}
.title {
  font-family: 'Raleway';
  font-size: 80px;
  line-height: 94px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  margin-top: 22px;
}
.description {
  font-family: 'Raleway';
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
}
.content {
  display: flex;
  flex-direction: column;
}