.layoutHeaderContainer {
  background: #0b173f;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10;
  position: relative;
  padding: 32px 0;
}

.linksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  font-family: 'Raleway';
  font-size: 30px;
  letter-spacing: -0.017em;
  color: #e7ebf1;
  margin-right: 72px;
}
.link:hover {
  text-decoration: underline !important;
  color: #e7ebf1;
}
.link:active,
.link:focus {
  color: #ffc001 !important;
}

.userContainer {
  display: flex;
  align-items: center;
}
.userNameContainer {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}
.name {
  font-family: 'Raleway';
  font-size: 35px;
  text-align: right;
  letter-spacing: -0.017em;
  color: #ffc001;
}
.role {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 25px;
  text-align: right;
  letter-spacing: -0.017em;
  color: #e7ebf1;
  margin-top: -18px;
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
.container {
  width: 1280px;
  display: flex;
  justify-content: space-between;
}

.logout {
  height: 48px;
  cursor: pointer;
  margin-left: -10px;
}
