.label {
  font-family: SBSansInterface-Regular;
  font-size: 0.625em;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #a1a2a6;
  text-transform: uppercase;
}

.value {
  font-family: SBSansInterface-Regular;
  font-size: 1em !important;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: var(--text1);
}